aaaaaa.sln
PetAdoptionCentre/PetAdoptionCentre.csproj
PetAdoptionCentre/obj/PetAdoptionCentre.csproj.nuget.dgspec.json
PetAdoptionCentre/obj/PetAdoptionCentre.csproj.nuget.g.props
PetAdoptionCentre/obj/PetAdoptionCentre.csproj.nuget.g.targets
PetAdoptionCentre/obj/project.assets.json
PetAdoptionCentre/obj/project.nuget.cache
PetAdoptionCentre/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
PetAdoptionCentre/obj/Debug/net9.0/PetAdoptionCentre.AssemblyInfo.cs
PetAdoptionCentre/obj/Debug/net9.0/PetAdoptionCentre.AssemblyInfoInputs.cache
PetAdoptionCentre/obj/Debug/net9.0/PetAdoptionCentre.assets.cache
PetAdoptionCentre/obj/Debug/net9.0/PetAdoptionCentre.GeneratedMSBuildEditorConfig.editorconfig
PetAdoptionCentre/obj/Debug/net9.0/PetAdoptionCentre.GlobalUsings.g.cs
